*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#0f172a;
color:white;
display:flex;
justify-content:center;
align-items:center;
min-height:100vh;
}

.container{
width:750px;
background:#1e293b;
padding:30px;
border-radius:12px;
box-shadow:0 20px 40px rgba(0,0,0,0.6);
text-align:center;
}

h1{
color:#38bdf8;
margin-bottom:10px;
}

.subtitle{
color:#94a3b8;
margin-bottom:20px;
}

input,select{
width:90%;
padding:12px;
margin:8px;
border:none;
border-radius:6px;
background:#334155;
color:white;
}

button{
padding:12px 18px;
margin:8px;
border:none;
border-radius:6px;
background:#38bdf8;
color:black;
font-weight:bold;
cursor:pointer;
transition:0.3s;
}

button:hover{
transform:scale(1.05);
background:#0ea5e9;
}

.hidden{
display:none;
}

.grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:10px;
}

.card{
background:#334155;
padding:18px;
border-radius:10px;
margin-top:15px;
text-align:left;
}

.progress{
height:18px;
background:#1e293b;
border-radius:10px;
overflow:hidden;
margin-top:10px;
}

.bar{
height:100%;
width:0%;
background:#38bdf8;
transition:1s;
}

.exercise img{
width:100%;
border-radius:8px;
margin-top:10px;
}

.timer{
font-size:30px;
margin-top:10px;
}